@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-clr: #007205;
  --secondary-clr: #ff0000;
  --tertiary-clr: #f0f2f5;
}

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.form-control:focus,
.form-select:focus,
.btn-close:focus {
  border-color: rgb(0, 114, 5, 0.25) !important;
  box-shadow: 0 0 0 0.2rem rgb(0, 114, 5, 0.1) !important;
}

input[type="radio"] {
  box-shadow: 0 0 0 0 !important;
}

input[type="radio"]:checked {
  background-color: var(--primary-clr);
  border-color: var(--primary-clr);
  box-shadow: 0 0 0 0.1rem rgb(0, 114, 5, 0.5) !important;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-clr);
  border-color: var(--primary-clr);
  box-shadow: 0 0 0 0.1rem rgb(0, 114, 5, 0.5) !important;
}

.btn-outline-secondary:hover {
  color: #ffffff !important;
}

::-webkit-scrollbar {
  width: 5px;
}

.sticky-top::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 20px;
}

#header_book_search_top,
#header_book_search_top_collapse,
#header_book_search_collapse_icon {
  visibility: hidden;
}

@media screen and (max-width: 992px) {
  .sticky-top {
    overflow: visible !important;
    height: auto !important;
  }
}

#books_table .child .dtr-details {
  width: 100%;
}
#books_table .child .dtr-details li {
  padding: 10px 20px;
}

th {
  text-align: center !important;
  white-space: nowrap;
}

tbody {
  font-size: 0.7rem;
}

#user_attendance_log_table tbody {
  font-size: 1rem;
}

td.available {
  background-color: rgb(0, 114, 5, 0.05);
}

td.notAvailable {
  background-color: rgb(255, 0, 0, 0.05);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 5px 20px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #dfdfdf !important;
  color: #000000 !important;
  border-radius: 4px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #007205 !important;
  color: #fff !important;
  border-radius: 4px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #007205 !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-weight: bold;
}

.pageLengthSelect {
  padding: 3px 10px !important;
  margin: 5px 10px !important;
}

.dataTables_length,
.dataTables_filter {
  display: none;
}

.dt-button,
.dt-button:focus {
  border-radius: 4px !important;
  padding: 3px 30px !important;
  outline: none !important;
}

.dt-buttons .buttons-excel {
  background: var(--primary-clr) !important;
  color: #fff !important;
}
.dt-buttons .buttons-pdf {
  background: var(--secondary-clr) !important;
  color: #fff !important;
}
.dt-buttons .buttons-print {
  background: var(--tertiary-clr) !important;
  color: #000 !important;
}

div.dataTables_processing > div:last-child {
  display: none;
}

.datatable-loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: var(--primary-clr);
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: s7 1s infinite steps(8);
}

@keyframes s7 {
  100% {
    transform: rotate(1turn);
  }
}
