@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


// ADD CUSTOM COLOR DEPENDS ON CVSU THEME
$theme-colors: map-merge($theme-colors,
        ("background": #F8FFF8,
            "surface": #FFFFFF,
            "primary": #007205,
            "secondary": #FF0000,
            "tertiary": #f0f2f5,
            "highlight": #70359f,
            "onBackground": #000000,
            "onSurface": #000000,
            "onPrimary": #FFFFFF,
            "onSecondary": #FFFFFF,
            "border": #b3b3b3));
// ADD CUSTOM COLOR DEPENDS ON CVSU THEME


@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// ADD FONT SIZE PER BREAK POINT
$utilities: map-merge($utilities,
        ("font-size": map-merge(map-get($utilities, "font-size"),
                (responsive: true),
            ),
        ));
// ADD FONT SIZE PER BREAK POINT

// ADD START POSITION PER BREAK POINT
$utilities: map-merge($utilities,
        ("start": map-merge(map-get($utilities, "start"),
                (responsive: true),
            ),
        ));
// ADD START POSITION PER BREAK POINT

// ADD SOME PROPERTY FOR TOP
$utilities: map-merge($utilities,
        ('top': (property: top,
                values: (5: 5%,
                    10: 10%,
                    15: 15%,
                    20: 20%,
                    25: 25%,
                    30: 30%,
                    35: 35%,
                    40: 40%,
                    45: 45%,
                    50: 50%,
                    55: 55%,
                    60: 60%,
                    65: 65%,
                    70: 70%,
                    75: 75%,
                    80: 80%,
                    85: 85%,
                    90: 90%,
                    95: 95%,
                    100: 100%,
                    auto: auto,
                ),
            ),
        ));
// ADD SOME PROPERTY FOR TOP

// ADD SOME PROPERTY FOR START
$utilities: map-merge($utilities,
        ('start': (property: left,
                class: start,
                values: (5: 5%,
                    10: 10%,
                    15: 15%,
                    20: 20%,
                    25: 25%,
                    30: 30%,
                    35: 35%,
                    40: 40%,
                    45: 45%,
                    50: 50%,
                    55: 55%,
                    60: 60%,
                    65: 65%,
                    70: 70%,
                    75: 75%,
                    80: 80%,
                    85: 85%,
                    90: 90%,
                    95: 95%,
                    100: 100%,
                    auto: auto,
                ),
            ),
        ));
// ADD SOME PROPERTY FOR START

// ADD SOME PROPERTY FOR WIDTH
$utilities: map-merge($utilities,
        ('width': (property: width,
                class: w,
                responsive: true,
                values: (5: 5%,
                    10: 10%,
                    15: 15%,
                    20: 20%,
                    25: 25%,
                    30: 30%,
                    35: 35%,
                    40: 40%,
                    45: 45%,
                    50: 50%,
                    55: 55%,
                    60: 60%,
                    65: 65%,
                    70: 70%,
                    75: 75%,
                    80: 80%,
                    85: 85%,
                    90: 90%,
                    95: 95%,
                    100: 100%,
                    auto: auto,
                ),
            ),
        ));
// ADD SOME PROPERTY FOR WIDTH

// ADD SOME PROPERTY FOR HEIGHT
$utilities: map-merge($utilities,
        ('height': (property: height,
                class: h,
                responsive: true,
                values: (5: 5%,
                    10: 10%,
                    15: 15%,
                    20: 20%,
                    25: 25%,
                    30: 30%,
                    35: 35%,
                    40: 40%,
                    45: 45%,
                    50: 50%,
                    55: 55%,
                    60: 60%,
                    65: 65%,
                    70: 70%,
                    75: 75%,
                    80: 80%,
                    85: 85%,
                    90: 90%,
                    95: 95%,
                    100: 100%,
                    auto: auto,
                ),
            ),
        ));
// ADD SOME PROPERTY FOR HEIGHT


// ADD SOME PROPERTY FOR VIEW-PORT HEIGHT
$utilities: map-merge($utilities,
        ('viewport-height': (property: height,
                class: vh,
                values: (5: 5vh,
                    10: 10vh,
                    15: 15vh,
                    20: 20vh,
                    25: 25vh,
                    30: 30vh,
                    35: 35vh,
                    40: 40vh,
                    45: 45vh,
                    50: 50vh,
                    55: 55vh,
                    60: 60vh,
                    65: 65vh,
                    70: 70vh,
                    75: 75vh,
                    80: 80vh,
                    85: 85vh,
                    90: 90vh,
                    95: 95vh,
                    100: 100vh,
                    auto: auto,
                ),
            ),
        ));
// ADD SOME PROPERTY FOR VIEW-PORT HEIGHT

// ADD SOME SIZE FOR SMALL TEXT
$h7-font-size: $font-size-base * 0.75;
$h8-font-size: $font-size-base * 0.70;
$h9-font-size: $font-size-base * 0.65;
$h10-font-size: $font-size-base * 0.60;
$utilities: map-merge($utilities,
        ("font-size": map-merge(map-get($utilities, "font-size"),
                (values: map-merge(map-get(map-get($utilities, "font-size"), "values"),
                        (7: $h7-font-size,
                        8: $h8-font-size,
                        9: $h9-font-size,
                        10: $h10-font-size),
                    ),
                ),
            ),
        ));
// ADD Fs-7 SIZE FOR SMALL TEXT


@import "../../node_modules/bootstrap/scss/utilities/api";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";